{% extends "utilities/base.html" %}

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="col-md-12 d-flex">
	<h4 class="col-2 ml-0 pl-0">{{page_name}}</h4>
	{% include 'utilities/save.html' %}

		<a class = "btn btn-link btn-sm ml-auto" style="color:#cad2de" 
			href="{% url 'utilities:add_protocol' app_name model_name %}"
			target="_blank"
			>
			<i class="fas fa-question-circle"></i>
		</a>
		{% include 'utilities/detail_view_link.html' %}

	</div>
	<hr>
	{% if 'Edit' in page_name and 'unknown' not in crud.last_update %}
		{% include 'utilities/change_log.html' %}
		{% else %} <p class="mb-4"></p>
	{% endif %}



	<table class="table table-borderless table-sm" id = "form_table">
	<tr class="d-flex">
		<td class="col-2">Names</th>
		<td class="col-9">{{form.names}} {{form.names.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_famine_name' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Locations</th>
		<td class="col-9">{{form.locations}} {{form.locations.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'locations:add_location' 'inline' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Excess mortality</th>
		<td class="col-9">
		{{form.estimated_excess_mortality}} {{form.estimated_excess_mortality.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Excess mortality description</th>
		<td class="col-9">{{form.excess_mortality_description}} 
			{{form.excess_mortality_description.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Causal triggers</th>
		<td class="col-9">{{form.causal_triggers}} {{form.affiliation.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_causal_trigger' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Description</th>
		<td class="col-9">{{form.description}} {{form.description.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Comments</th>
		<td class="col-9">{{form.comments}} {{form.comments.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Keywords</th>
		<td class="col-9">{{form.keywords}} {{form.keywords.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_keyword' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Filter name</th>
		<td class="col-9">
		{{form.filter_name}} {{form.filter_name.error}}</td>
	<tr class="d-flex">
		<td class="col-2">Filter location</th>
		<td class="col-9">
		{{form.filter_location_name}} {{form.filter_location_name.error}}</td>
	</table>
		<div class="col-md-12 d-flex">
		<div class="col-2"></div>
		{% include 'utilities/save.html' %}
		</div>
</form>
<br>
{{form.media.js}}
{% include 'utilities/helper.html' %}
{% endblock %}
