{% extends "utilities/base.html" %}

{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'misc/mooc.css' %}" />
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}

<div class="container">

    <center>
        <a href=#
            target="_blank">
            <img src="/media/mooc/thumbnail/lesson1.png"
            alt="Contemporary Crises" />
        </a>
    </center>

    <h3>Introduction</h3>

    <p>
        This learning programme is a product
        of the Heritages of Hunger research
        project, funded by the Dutch Research
        Council NWO.
        Heritages of Hunger investigates
        the enduring legacies and heritage
        of historical European famines to
        foster mutual understanding among
        communities by creating awareness of
        shared pasts.
    </p>
    <p>
        Across six thematic modules, this
        resource introduces learners to key
        aspects of famine and its legacies:
        the causes and political contexts of
        hunger, its social and political impacts,
        responses to food crisis, and the ways
        famine is – or isn’t – remembered today.
        This learning programme is based on
        the findings and materials developed
        during the Heritages of Hunger project.
        The European focus of the project has
        defined the scope of this resource,
        though instructive examples from other
        past and present famines have also been
        included.
    </p>
    <p>
        Neither the project nor this learning
        programme are exhaustive: not all
        famines that occurred in Europe’s
        recent past have been included, nor is
        every aspect of each famine covered.
        But while the case studies offered here
        mainly focus on Europe, the themes
        it covers are widely applicable. Above
        all, this resource aims to show that
        the experience of famine is something
        that goes beyond national borders and
        national histories. Its impacts can both
        cross borders or be more localised.
        With this resource, we aim to create
        awareness about famine: its causes,
        its effects, and its memory. By offering
        historical knowledge, we moreover
        hope to inspire users to take action
        against the enduring threat and
        occurrence of famine and food
        insecurity in today’s world.
    </p>


    <h3>Course Content</h3>

    <h4>The Nature of Famine</h4>
    <ul>
        <li>
            <a href=#
                target="_blank">
                Lesson 1. What is famine?
            </a>
        </li>
    </ul>

    <hr>

    <h4>Haves and Have Nots</h4>
    <ul>
        <li>
            <a href=#
                target="_blank">
                Lesson 1. Impact and Entitlement
            </a>
        </li>
        <li>

            <a href=#
                target="_blank">
                Lesson 2. Power, Agency & Social Class
            </a>
        </li>
        <li>
            <a href=#
                target="_blank">
                Lesson 3: Responsibility
            </a>
        </li>
    </ul>

    <hr>

    <h4>Food and Nutrition</h4>
    <ul>
        <li>
            <a href=#
                target="_blank">
                Lesson 1: Market Conditions and Emergency Food
            </a>
        </li>
        <li>
            <a href=#
                target="_blank">
                Lesson 2: Women and Famine
            </a>
        </li>
    </ul>

    <hr>

    <h4>Aid, Relief and Philanthropy</h4>
    <ul>
        <li>
            <a href=#
                target="_blank">
                Lesson 1: Relief and Philanthropy
            </a>
        </li>
        <li>
            <a href=#
                target="_blank">
                Lesson 2: Community Solidarity
            </a>
        </li>
    </ul>

    <hr>

    <h4>Migration and Displacement</h4>
    <ul>
        <li>
            <a href=#
                target="_blank">
                Lesson 1: Internal and External migration
            </a>
        </li>
        <li>
            <a href=#
                target="_blank">
                Lesson 2: Refugees in new societies
            </a>
        </li>
    </ul>

    <hr>

    <h4>Memory and Commemoration</h4>
    <ul>
        <li>
            <a href=#
                target="_blank">
                Lesson 1. Commemorating famines
            </a><br>
        </li>
        <li>
            <a href=#
                target="_blank">
                Lesson 2. Contemporary Crises
            </a>
        </li>
    </ul>

</div>

    {% endblock %}
