<script>

var colorDict={};
var names = 'text,picturestory,dot,image,infographic,famine,film,artefact,memorialsite,recordedspeech,videogame'.split(',');
var colors = '#0fba62,#5aa5c4,black,#345beb,#e04eed,#ed4c72,#1e662a,#c92f04,#e39817,#eb4034,#ebbd34'.split(',')
for (i = 0; i<names.length; i++) {
	colorDict[names[i]] = colors[i]
	}

function make_icon(name) {
	color = colorDict[name]
	return  L.divIcon({
	className:name,
	html:'<a style="color:'+color+';"><i class="fas fa-map-marker-alt"></i></i></a>',
	iconAnchor:[3,15]
	})
}
</script>
