{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}
{% include 'utilities/list_search_bar.html' %} 

{% if person_list %}
<div class="d-flex">
<table class="table table-hover">
	<tr>
	<th><a class="text-dark" href="?order_by=name,{{order}},{{direction}},{{query}}"
		style="text-decoration:none;">name</a></th>
	<th><a class="text-dark" href="?order_by=pseudonyms,{{order}},{{direction}},{{query}}"
		style="text-decoration:none;">name</a></th>
	<th><a class="text-dark" href="?order_by=gender,{{order}},{{direction}},{{query}}"
		style="text-decoration:none;">Gender</a></th>
	<th><a class="text-dark" href="?order_by=location_of_birth,{{order}},{{direction}},{{query}}"
		style="text-decoration:none;">Born</a></th>
	<th></th>
	</tr>
	{% for person in list%}
	<tr>
		<td>{{person.name}}</td>
		<td>{{person.psuedonyms}}</td>
		<td>{{person.gender}}</td>
		<td>{{person.location_of_birth}}</td>
		<td style="white-space:nowrap;"><a class="btn btn-link btn-sm ml-auto"
		href = "{% url 'persons:delete' person.pk 'Person' %}"
		role="button"><i class="fa fa-trash text-secondary"></i></a>
		<td style="white-space:nowrap;"><a class="btn btn-link btn-sm ml-auto"
		href = "{% url 'persons:edit_person' person.pk %}"
		role="button"><i class="far fa-edit text-secondary"></i></a>
	</tr>
	{% endfor %}
</table>

<a class ="btn btn-link ml-auto" href="{% url 'persons:add_person' %}"
role="button">Add person</a>
		

	
</div>

{% else %}
	<p>no person available</p>
{% endif %}

{% endblock %}




