{% load getattribute %}
	<tr class="d-flex">
		<td class="col-2">Setting</th>
		<td class="col-9">{{form.setting}} {{form.setting.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'locations:add_location' 'inline' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Date created</th>
		<td class="col-9">{{form.date_created}} {{form.date_created.error}}</td>
	</tr>
	<tr class="d-flex">
		{% if 'text' in page_name %}
		<td class="col-2">Date published</th>
		<td class="col-9">{{form.date_released}} {{form.date_released.error}}</td>
		{% elif 'artefact' in page_name %}
		{% else %}
		<td class="col-2">Date released</th>
		<td class="col-9">{{form.date_released}} {{form.date_released.error}}</td>
		{% endif %}
	</tr>
	<tr class="d-flex">
		<td class="col-2">Famines</th>
		<td class="col-9">{{form.famines}} {{form.famines.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_famine' 'inline'%}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Keywords</th>
		<td class="col-9">{{form.keywords}} {{form.keywords.error}}</td>
		{% if request.user|has_group:"typemaster" %}
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_keyword' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
		{% endif %}
	</tr>
	<tr class="d-flex">
		<td class="col-2">Collection</th>
		<td class="col-9">{{form.collection}} {{form.collection.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'sources:add_collection' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Available</th>
		<td class="col-3">{{form.available}} {{form.available.error}}</td>
		<td class="col-1"></th>
		<td class="col-2">Permission</th>
		<td class="col-3">{{form.permission}} 
			{{form.permission.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Rated</th>
		<td class="col-9">{{form.rated}} {{form.rated.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Description</th>
		<td class="col-9">{{form.description}} {{form.description.error}}</td>
		<td class="text-dark"><p class="text-length" id=description_length>0</p></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Comments</th>
		<td class="col-9">{{form.comments}} {{form.comments.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">thumbnail</th>
		<td class="col-9">{{form.thumbnail}} {{form.thumbnail.error}}</td>
	</tr>

<script>
var description= document.getElementById('id_description');
var description_length= document.getElementById('description_length');

document.addEventListener('keydown',logkey);
function logkey(e) {
	//console.log(description.value)
	var audio = new Audio('media/quack.mp3')
	//nwords = description.value.split(' ')
	//console.log(description.textLength,e.key)
	if (e.key == "Backspace")  { l = description.textLength-1 }
	else {l = description.textLength+1 }
	if (l < 0){l=0;}
	description_length.textContent = l 
	if (e.key != "Backspace" && description.textLength > 500 && description.textLength % 5 == 0) {
		audio.play();
		//console.log('play');
	}
	if (description.textLength > 500) {
		description_length.style.color='red';
	} else {
		description_length.style.color='grey';
	}
}
</script>

<style>
.text-length {
	color:grey;
	justify:left;
}
