{% load getattribute %}
	<tr class="d-flex">
		<td class="col-2">Setting</th>
		<td class="col-9">{{form.setting}} {{form.setting.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'locations:add_location' 'inline' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Date created</th>
		<td class="col-9">{{form.date_created}} {{form.date_created.error}}</td>
	</tr>
	<tr class="d-flex">
		{% if 'text' in page_name %}
		<td class="col-2">Date published</th>
		<td class="col-9">{{form.date_released}} {{form.date_released.error}}</td>
		<td>{{form.release_date_precedent}} {{form.release_date_precedent.error}}</td>
		{% elif 'artefact' in page_name %}
		{% else %}
		<td class="col-2">Date released</th>
		<td class="col-9">{{form.date_released}} {{form.date_released.error}}</td>
		<td>{{form.release_date_precedent}} {{form.release_date_precedent.error}}</td>
		{% endif %}
	</tr>
	<tr class="d-flex">
		<td class="col-2">Famines</th>
		<td class="col-9">{{form.famines}} {{form.famines.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_famine' 'inline'%}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Keywords</th>
		<td class="col-9">{{form.keywords}} {{form.keywords.error}}</td>
		{% if request.user|has_group:"typemaster" %}
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_keyword' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
		{% endif %}
	</tr>
	<tr class="d-flex">
		<td class="col-2">Collection</th>
		<td class="col-9">{{form.collection}} {{form.collection.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'sources:add_collection' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Available</th>
		<td class="col-3">{{form.available}} {{form.available.error}}</td>
		<td class="col-1"></th>
		<td class="col-2">Permission</th>
		<td class="col-3">{{form.permission}} 
			{{form.permission.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Rated</th>
		<td class="col-9">{{form.rated}} {{form.rated.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Description</th>
		<td class="col-9">{{form.description}} {{form.description.error}}</td>
		<td class="text-dark"><p class="text-length" id=description_length>0</p></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Comments</th>
		<td class="col-9">{{form.comments}} {{form.comments.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">thumbnail</th>
		<td class="col-9">{{form.thumbnail}} {{form.thumbnail.error}}</td>
	</tr>
    {% if thumbnail_size %}
	<tr class="d-flex">
        {% if thumbnail_size > .3 %}
            <td class="col-2 text-danger">thumbnail size</th>
            <td class="col-9 text-danger">{{thumbnail_size}} MB</td>
        {% else %}
            <td class="col-2">thumbnail size</th>
            <td class="col-9">{{thumbnail_size}} MB</td>
        {% endif %}
	</tr>
    {% endif %}
    {% if focus == 'add_info' %}
	<tr class="d-flex">
        <td class="col-2" style="background-color: #00ff03;">
            image | thumbnail
        </th>
        <td class="col-4">
            {% if form.instance.image_file %}
                <img src="{{form.instance.image_file.url}}" 
                    style="height: 150px;">
            {% else %}
                no image 
            {% endif %}
        </td>
        <td class = "col-4">
            {% if form.instance.thumbnail %}
                <img src="{{form.instance.thumbnail.url}}" 
                    style="height: 150px;">
            {% else %}
                no thumbnail
            {% endif %}
        </td>
    </tr>
	<tr class="d-flex">
        <td class="col-2" style="background-color: #00ff03;">title:</th>
        <td class = "col-9" style="background-color: #00ff03;">
            {{form.instance.title_english}}</td>
        </td>
    </tr>
    {% if form.instance.source_link %}
	<tr class="d-flex">
        <td class="col-2" style="background-color: #00ff03;">link:</th>
        <td class="col-9" style="background-color: #00ff03;">
            <a 
                class="btn btn-link btn-sm ml-auto text-dark" 
                target="_blank"
                href="{{form.instance.source_link}}"
                role="button">
                    {{form.instance.source_link}}
            </a>
        </td>
    </tr>
    {% endif %}
	<tr class="d-flex">
		<td class="col-2" style="background-color: #00ff00;">Reference</th>
		<td class="col-9">{{form.reference}} {{form.reference.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2" style="background-color: #00ff00;">License image</th>
		<td class="col-9">
            {{form.license_image}} {{form.license_image.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_license' 'inline'%}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2" style="background-color: #00ff00;">License thumbnail</th>
		<td class="col-9">
            {{form.license_thumbnail}} {{form.license_thumbnail.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_license' 'inline'%}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
        {% else %}
	<tr class="d-flex">
		<td class="col-2">Reference</th>
		<td class="col-9">{{form.reference}} {{form.reference.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">License image</th>
		<td class="col-9">
            {{form.license_image}} {{form.license_image.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_license' 'inline'%}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">License thumbnail</th>
		<td class="col-9">
            {{form.license_thumbnail}} {{form.license_thumbnail.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_license' 'inline'%}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
        {% endif %}



<script>
	var description = document.getElementById('id_description'); 
	var description_length= document.getElementById('description_length');
	document.addEventListener('keydown',logkey);

	description_length.textContent = description.textLength;

	function logkey(e) {
		console.log(description.value)
		var audio = new Audio('/media/quack.mp3')
		//nwords = description.value.split(' ')
		//console.log(description.textLength,e.key)
		if (e.key == "Backspace")  { l = description.textLength-1 }
		else {l = description.textLength+1 }
		if (l < 0){l=0;}
		description_length.textContent = l
		if (e.key != "Backspace" && description.textLength > 500 && description.textLength % 5 == 0) {
			audio.play();
			//console.log('play');
		}
		if (description.textLength > 500) {
			description_length.style.color='red';
		} else {
			description_length.style.color='grey';
		}
	}
</script>   
