{%if others and link == 'yes'%}
	<div class = "one-line">
		<span class = "info-header"> 
		{{name}}</span>
		{% for other in others %}
			{% if not forloop.last %}
				<a class="link-color"
				href = "{% url other.detail_url other.pk %}"
				role="button">{{other}},</a>
			{% else %}
				<a class="link-color"
				href = "{% url other.detail_url other.pk %}"
				role="button">{{other}}</a>
			{% endif %}
		{% endfor %}
	</div>
	<br>
{%elif others and link == 'no'%}
	<div class = "one-line">
		<span class = "info-header"> {{name}}</span>
		{%if others%}
			<span class = "info-text">
			{% for other in others%}
				{% if not forloop.last %}
					{{other}},
				{% else %}
					{{other}}
				{% endif %}
			{% endfor %}
		{% endif %}
		</span>
	</div>
	<br>
{%elif others and link == 'both'%}
	<div class = "one-line">
		<span class = "info-header"> 
			{{name}}</span>
		{% for other in others %}
			{% if not forloop.last %}
				{% if other.detail_url %}
					<a class="link-color"
					href = "{% url other.detail_url other.pk %}"
					role="button">{{other}},</a>
				{% else %}
					{{other}},
				{% endif %}
			{% else %}
				{% if other.detail_url %}
					<a class="link-color"
					href = "{% url other.detail_url other.pk %}"
					role="button">{{other}}</a>
				{% else %}
					{{other}}
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
	<br>
{%elif others and link == 'loc'%}
	<div class = "one-line">
		<span class = "info-header">{{name}}</span>
		{% if others %}
			<span class = "info-text">
			{% for other in others %}
				{% if not forloop.last %}
				  {{other.name}} <small>{{other.country}},</small>
				{% else %}
				  {{other.name}} <small>{{other.country}}</small>
				{% endif %}
			{% endfor %}
		{% endif %}
		</span>
	</div>
	<br>
{% endif %}

{% if not others and unk == 'true' %}
	<div class = "one-line">
		<span class = "info-header"> 
		{{name}}</span>
		<span class = "grey">Unknown</span>
	</div>
	<br>
{% endif %}
