<div class="col-11">
<form>
  <div class="d-flex">
	<input id="exampleFormControlInput1" type="text" name="query" placeholder=Search
		class="col-9 mb-1" style="border-width:0;border-bottom-width:1px;" 
		value="{{query}}">
	<button class="text-dark btn btn-link" type="submit">
		<i class="fas fa-search"></i>
	</button>
	<input type="hidden" name="order" id="order" value="{{order}}" />
	<input type="hidden" name="direction" id="direction" value="{{direction}}" />
  </div>
	<p class="text-secondary small ml-3" >{{nentries}}<p>
</form>
</div>
