{% extends "utilities/base.html" %}

{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'utilities/map.css' %}" />
    <link 
        rel="stylesheet" 
        href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" 
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" 
        crossorigin="" />
    <script 
        src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" 
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" 
        crossorigin="">
    </script>
{% endblock %}

{% block content %}

{{perms.utilities.view_generic|json_script:"perm"}}
{{d|json_script:'d'}}
 
{% include 'utilities/sidebar.html' %}
<div id="info" class="grey-background info">
    <p id="city_label", class="city-label">&nbsp;</p>
</div>
<div id="mapid" class="mt-0 left-side map map-height grey-background">
</div>
<div id="information" class="right-side map-height grey-background">
</div>

<!--
<script src="{% static 'utilities/cluster.js' %}">
</script>
-->
<script type="module" src="{% static 'utilities/map.js' %}">
</script>

{% endblock %}
