{% load getattribute %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href={% url 'sources:home' %}>Heritages of Hunger</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if perms.utilities.view_generic %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
			role="button" data-toggle="dropdown" aria-haspopup="true" 
			aria-expanded="false">
			View
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=
			"{% url 'sources:image' %}">image</a>
          <a class="dropdown-item" href=
			"{% url 'sources:infographic' %}">infographic</a>
          <a class="dropdown-item" href=
			"{% url 'sources:film' %}">film</a>
          <a class="dropdown-item" href=
			"{% url 'sources:music' %}">music</a>
          <a class="dropdown-item" href=
			"{% url 'sources:picturestory' %}">picturestory</a>
          <a class="dropdown-item" href=
			"{% url 'sources:text' %}">text</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'Videogame' 'sources' %}">
				video game</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'recordedspeech' 'sources' %}">
				recorded speech</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'memorialsite' 'sources' %}">
				memorial site</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'Artefact' 'sources' %}">
				material artefact</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'Famine' 'misc' %}">
				famine</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'License' 'misc' %}">
				license</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'Location' 'locations' 50 %}">
				location</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'Person' 'persons' %}">person</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:list_view' 'Keyword' 'misc' 'typemaster'%}">keyword</a>
			<div class="dropdown-divider"></div> 
          <a class="dropdown-item" href=
			"{% url 'utilities:search_view' 'tile_view' %}">tiles</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:search_view' 'row_view' %}">rows</a>
          <a class="dropdown-item" href=
			"{% url 'utilities:new_search'  %}">search</a>
          <a class="dropdown-item" href=
			"{% url 'locations:map' %}">map</a>
			<div class="dropdown-divider"></div> 
			<a class="dropdown-item" href=
				"{% url 'accounts:log_view' %}">log</a>
			<a class="dropdown-item" href=
				"{% url 'accounts:logs_view' %}">logs</a>
			<a class="dropdown-item" href=
				"{% url 'utilities:overview' %}">overview</a>
			
        </div>
      </li>
    {% endif %}
    {% if perms.utilities.add_generic %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" 
			role="button" data-toggle="dropdown" aria-haspopup="true" 
			aria-expanded="false">
          	Add
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href=
			"{% url 'sources:add_image' %}">image</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_infographic' %}">infographic</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_film' %}">film</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_music' %}">music</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_picture_story' %}">picture story</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_text' %}">text</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_videogame' %}">video game</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_recordedspeech' %}">recorded speech</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_memorialsite' %}">memorial site</a>
          <a class="dropdown-item" href=
			"{% url 'sources:add_artefact' %}">material artefact</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href=
			"{% url 'misc:add_famine' %}">famine</a>
          <a class="dropdown-item" href=
			"{% url 'misc:add_license' %}">license</a>
          <a class="dropdown-item" href=
			"{% url 'locations:add_location' %}">location</a>
          <a class="dropdown-item" href=
			"{% url 'persons:add_person' %}">person</a>
		{% if request.user|has_group:"typemaster" %}
			  <a class="dropdown-item" href=
				"{% url 'misc:add_keyword' %}">keyword</a>
		{% endif %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href=
			"{% url 'utilities:add_info' %}">add info</a>
        </div>
      </li>
    </ul>
    {% endif %}


	<ul class = "navbar-nav">
	</ul>

	<ul class = "navbar-nav navbar-right">
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
                admin
            </a>
          </li>
        {% endif %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'utilities:search_view' %}">
			<i class="fas fa-search"></i>
		</a>
      </li>

		<li class ="nav-item">
		  {% if user.username == '' %}
			<a class="nav-link" href="{% url 'login' %}">
			login<span class="sr-only">(current)</span></a>
		  {% else %}
			<a class="nav-link" href="{% url 'accounts:edit_profile' %}">
			{{user.username}}<span class="sr-only">(current)</span></a>
		  {% endif %}
		</li>
	</ul>
	<ul class = "navbar-nav navbar-right">
		<li class ="nav-item">
		  {% if user.username == '' %}
		  {% else %}
			<a class="nav-link" href="{% url 'logout' %}">
				<i class="fas fa-sign-out-alt"></i>
				<span class="sr-only">(current)</span>
			</a>
		  {% endif %}
		</li>
	</ul>
	


  </div>
</nav>
<style>

i {
	margin-left:5px;
}

a {
	display:inline-block;
	color:black;
	margin-left:5px;
}
</style>
