{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
{% load getattribute %}

<div class="block">
	<table class="table table-borderless center" id="form_table">
	{% with odl='utilities/overview_dict_loop.html' %}

		{% for key, value in totals.items %}
			<tr class="d-flex">
				<th class = "col-1"></th>
				<td class = "col-3">{{key}}:</td>
				<td class = "col-2">{{value}}</td>
				<td class = "col-6">
					{% if key == 'persons' %}
						{% include odl with d=gender%}
					{% else %}
						{% include odl with d=types|get_value_from_dict:key %}
					{% endif %}
				</td>
			</tr>
		{% endfor %}

		<tr class = "d-flex">
			<th class = "col-1"></th>
			<td class = "col-3">total:</td>
			<th class = "col-2">{{total}}</th>
		</tr>
		<tr class = "d-flex"><th class = "col-1"></th></tr>
		<tr class = "d-flex">
			<th class = "col-1"></th>
			<td class = "col-3">countries represented in the database:</td>
			<td class = "col-2">{{countries|length}}</th>
			<td class = "col-6">
				{% include odl with d=countries %}
			</td>
		</tr>
	{% endwith %}
	</table>
</div>

			
<style>
.block {
	background: #e9ebf0;
}

.center {
	margin:auto;
}
</style>

{% endblock %}
