{% extends "utilities/base.html" %}

{% block content %}

{% for instance in instances %}

	<div class="grid-container" id='{{instance.identifier}}_row_container'>
		<div class="grid-item icon">
			<i class="{{instance.icon}}" aria-hidden="true"></i> 
		</div>
		<div class="grid-item title">
			<a class = "btn btn-link btn-sm ml-auto nostyle p-title"
				href = "{% url 'sources:edit_film' instance.pk %}"
				role = "button">
				<p class="p-title">{{instance.title}}</p>
			</a>
		</div>
		<div class="grid-item year">
			{% if instance.date_released %}
				<p class="p-year blue">{{instance.date_released}}</p>
			{% endif %}
		</div>  
		<div class="grid-item description">
			{% if instance.description %}
			<p class="p-description grey" id = '{{instance.pk}}_description'>
				{{instance.description}}</p>
			{% endif %}
		</div>
		<div class="grid-item plus">
			<a class = "btn btn-link btn-sm ml-auto text-dark" 
				href = "#." onclick="toggle_row_view('{{instance.identifier}}')"
				role="button"><i class="fa fa-plus"></i></a>
		</div>
		<div class="grid-item info" id='{{instance.identifier}}_info-toggle'>
			<div class="nested grid-item info-famine">
				<p class="p-info small">Famine:</p>
			</div>
			<div class="nested grid-item info-keywords">
				<p class="p-info small">Keywords:</p>
			</div>
			<div class="nested grid-item info-location">
				<p class="p-info small">Location:</p>
			</div>
		</div>
		<div class="grid-item image toggle" id='{{instance.identifier}}_image-toggle'>
			{% if instance.thumbnail %}
			{% endif %}
		</div>  
	</div>
	<hr>
{% endfor %}

<script>
var description = document.getElementById("17_description")
var description_text = description.innerHTML
var description_text_trunc = description_text.substring(0,170) + ' ...';
description.innerHTML = description_text_trunc;

function toggle_row_view(identifier) {
	var app, model, pk = identifier.split("_")
	console.log(app,model,pk)
	var info = document.getElementById(identifier + "_info-toggle");
	var image= document.getElementById(identifier + "_image-toggle");
	if (info.style.display == 'grid') {
		info.style.display = 'None';
		image.style.display = 'None';
		description.innerHTML = description_text_trunc;
	} else {
		info.style.display = 'grid';
		image.style.display = 'inline';
		description.innerHTML = description_text;
	}
}
		


</script>


<style>
hr {
	margin-bottom:0px;
	padding-bottom:0px;
}

a {
	margin-bottom:0px;
	padding-bottom:0px;
}

p {
	margin-bottom:0px;
	font-family: "Georgia", serif;
	font-size: small;
}

.p-title {
	font-size: 110%;
	text-decoration: underline;
	color: black;
	padding-bottom:0px;
}

.p-year{
	font-size: 125%;
}
.p-description{
	font-size: 90%;
}

.p-info{
	display:inline;
}

.small{
	font-size: 75%;
}

.normal{
	font-size: 90%;
}

.blue{
	color: #56c1e8;
}

.grey{
	color: #918f87;
}

.grid-container {
	display:grid;
	grid-template-columns: 1fr 4fr 4fr 2fr;
	padding: 1px;
	grid-gap: 3px;
	justify-items: center;
	align-items: center;
}

.grid-item {
	/*background-color: #f0f0f0;*/
	padding: 0px;
	text-align: justify;
}

.title {
	grid-column:2/4;
	justify-self:left;
}
.plus{
	align-self:start;
}

.description{
	grid-column:2/4;
	justify-self:left;
}
.info{
	grid-gap: 15px;
	grid-column:2;
	align-times:center;
	justify-self:left;
	display:None;
}

.image{
	grid-column:3;
	justify-self:right;
	display:None;
}
</style>

{% endblock %}
