{% extends "utilities/base.html" %}
{% load static %}

{% block head %}
	<link rel="stylesheet" href="{% static 'utilities/search_row.css' %}" />
{% endblock %}

{% block content %}

{% include 'utilities/sidebar.html' %}

{% for instance in instances %}

	<div class="grid-container row row-item" 
		 id='{{instance.identifier}}'
	     data-date_range={{instance.year}}>
		<div class="grid-item icon">
			<i class="{{instance.icon}} fa-lg" aria-hidden="true"></i> 
		</div>
		<div class="grid-item title">
			<a class = "p-title"
				href = "{% url instance.detail_url instance.pk %}"
				onclick='set_clicked_instance("{{instance.identifier}}")'
				role = "button">
				{{instance.title|truncatechars:110}}
			</a>
		</div>
		<div class="grid-item year">
			<p class="p-year">{{instance.date}}</>
		</div>
		<div class="grid-item description">
			{% if instance.description %}
			<a class="p-description grey" 
				href="javascript:void(0)" 
				onclick="toggle_row_view('{{instance.identifier}}')"
				id = '{{instance.identifier}}_description'
				role="button">
				{{instance.description|truncatechars:180}}
			</a>
			{% endif %}
		</div>
	</div>
{% endfor %}


<script src="{% static 'utilities/search_row.js' %}"></script>

{% endblock %}
