<button type="submit" name="save" value="save" class ="btn btn-dark">Save</button>
{% if view == "inline" %} 
	 <a type="reset" value="Cancel" class ="btn btn-light"
	 href="{% url 'utilities:close' %}">Cancel</a>
{% else %}
	<button type="submit" name="save" value="add_another" 
	class ="btn btn-outline-secondary ml-1">Save | add another</button>
{% endif %}
{% if 'Edit' in page_name %}
<button type="submit" name="save" value="delete" class ="btn btn-outline-warning ml-1">Delete</button>
{% endif %}
