
<style>

.sidebar {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 30;
	left: 0;
	background-color: #e4e6eb;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10px;
}


.sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	color: #818181;
	display: block;
	transition: 0.5s;
}

.sidebar a:hover {
	color: black;
}

.togglebtn {
	font-size: 30px;
	cursor: pointer;
	color: grey;
	margin-left: 0px;
}

.togglebtn:focus{
	outline:0;
}

.togglebtn:hover {
	text-decoration:none;
	color: black;
}

.searchbar {
	margin-left:25px;
	transition: margin-left .5s;
}


</style>

<div id="mySidebar" class="sidebar">
	<a href="#">About</a>
</div>

<div class = "row">
	<a href="javascript:void(0)" 
		id="togglebtn" 
		class="togglebtn" onclick="toggle_sidebar()">
			<span>&#43;</span>
	</a>
</div>

<script>
var sidebar_state = 'closed';
var btn = document.getElementById("togglebtn")

function toggle_sidebar() {
	if (sidebar_state == 'closed') {
		open_sidebar()
		sidebar_state = 'open';
		btn.innerHTML = '<span>&#215;</span>'
	} else {
		close_sidebar()
		sidebar_state = 'closed';
		btn.innerHTML = '<span>&#43;</span>'
			
	}
}

function open_sidebar() {
document.getElementById("mySidebar").style.width = "400px";
document.getElementById("content").style.marginLeft = "390px";
}


function close_sidebar() {
document.getElementById("mySidebar").style.width = "0px";
document.getElementById("content").style.marginLeft= "25px";
}


</script>



