{% extends "utilities/base.html" %}

{% block content %}
<button id="myBtn">Open Modal</button>

{% for instance in instances %}
	<div class="tile">
	<a class = "btn btn-link btn-sm ml-auto"
		href = "{% url instance.edit_url instance.pk %}"
		role = "button">
			<div class="text" id = "{{instance.identifier}}">
				<img src="{{instance.thumbnail.url}}" alt="" bla="hoi">
				<p class="p-title">
					<i class="{{instance.icon}} fa-lg" aria-hidden="true"></i>
					{{instance.title|truncatewords:10}}
				</p>
			</div>
	</a>
	</div>
{% endfor %}

<div class="modal" id="myModal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
  </div>

</div>

<script>
var tiles= document.getElementsByClassName('text')
for ( i =0; i < tiles.length; i++ ){
	tile= tiles[i];
	console.log(tile);
}
	
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}


// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<style>
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	display:none;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

i {
	margin-right:10px;
	margin-top:5px;
}

p {
	margin-bottom:0px;
	font-family: "Georgia", serif;
	font-size: small;
}

img {
	width:230px;
	height:200px;
	object-fit:cover;
	padding:0px;
}

.text {
	width: 225px;
	height: 230px;
	text-align: center;
}

.p-title {
	font-size: 90%;
	text-decoration: underline;
	color: black;
	padding-bottom:0px;
}

.p-year{
	font-size: 125%;
	text-align: center;
}
.p-description{
	font-size: 90%;
}

.blue{
	color: #56c1e8;
}


.tile{
	display: inline-block;
	background-color: #f2f2ed;
	margin: 2px;
	padding: 3px 4px 15px 4px;
	text-align: justify;
	border-radius:10px;
}

a {
	padding:0;
}


</style>

{% endblock %}

