{% extends "utilities/base.html" %}

{% block content %}

{% for instance in instances %}
	<div class="tile">
		<img id='{{instance.identifier}}' class="tile-img" src="{{instance.thumbnail.url}}" alt="" 
			onclick="display_large_image('{{instance.identifier}}')"> 
		<p class="p-title">
			<i class="{{instance.icon}} fa-lg" aria-hidden="true"></i>
			<a 
				href = "{% url instance.edit_url instance.pk %}"
				role = "button">
				{{instance.title|truncatechars:35}}
			</a>
		</p>
	</div>
{% endfor %}

<div class="modal" id="myModal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
	<img id="modal-img" class="big-img" src="/media/thumbnail/Pulp_Fiction_1994_poster.jpeg">

	<a  id="modal-edit-link" class="modal-edit-link"
		href = ""
		role = "button">
			<p id="modal-title" class="modal-title">Some text in the Modal..</p>
	</a>
	<p id="modal-date" class="modal-date">Some text in the Modal..</p>
  </div>

</div>

<script>
document.onkeydown = checkKey;

function checkKey(e) {
	e = e || window.event;
	var direction = ''
	if (e.keyCode == 37 || e.keyCode == 38) {
		direction = 'back' 
	}
	else if (e.keyCode == 39 || e.keyCode == 40) {
		direction = 'forward'
	}
	console.log(direction)
	console.log(e.keyCode)
	if (in_modal_state) {
		i = find_identifier_index(current_img_identifier);
		if (direction == 'back') {
			if (i == 0) {i = tiles.length -1;}
			else { i -= 1;}
		} 
		else if (direction == 'forward') {
			if (i == tiles.length -1) { i = 0; }
			else { i += 1;}
		}
		display_large_image(tiles[i].id);
	}
}

var tiles= document.getElementsByClassName('tile-img')
for ( i =0; i < tiles.length; i++ ){
	tile= tiles[i];
	console.log(tile);
}

function find_identifier_index(identifier) {
	for ( i =0; i < tiles.length; i++ ){
		tile= tiles[i];
		console.log(tile);
		if (tile.id == identifier) {return i;}
	}
}
	
// whether the large image is shown in the modal
var in_modal_state = false;
// identifier of the instance of which the image is shown
var current_img_identifier= '';
// Get the modal
var modal = document.getElementById("myModal");
//elements that display the image, title and date
var modal_title = document.getElementById("modal-title");
var modal_img= document.getElementById("modal-img");
var modal_date= document.getElementById("modal-date");
var modal_edit= document.getElementById("modal-edit-link");
// Get the <span> element that closes the modal, OBSOLETE??
var span = document.getElementsByClassName("close")[0];

async function get_instance_info(identifier,fields= false) {
	//gets information of an instance, instance is loaded based on 
	//the identifier field
	//fields 	the field names the info should be gathered from
	// 			false or 'all' returns the dict of the instance (not property values)
	//returns a dictionary of field name field info or a json representation of the instance
	var url = '/utilities/ajax_instance_info/' + identifier 
	if (fields) { url += '/' + fields ;}
	const response = await fetch(url); 
	const instance_info = await response.json();
	return instance_info;
}

async function display_large_image(identifier) {
	//displays large image of a given instance (identified with identifier)
	fields = 'thumbnail,edit_url,title_original,pk,date_released'
	var d  = await get_instance_info(identifier,fields)
	in_modal_state = true;
	current_img_identifier = identifier;
	modal_title.innerText = d['title_original'];
	modal_date.innerText = d['date_released'];
	modal_img.src = '/media/' + d['thumbnail'];
	modal_edit.href = "/" +d['edit_url'].replace(':','/') + "/" + d['pk'] + "/"
	modal.style.display = "block";
	console.log(d['edit_url']);
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
	in_modal_state = false;
  }
}
</script>

<style>

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.45); /* Black w/ opacity */
  margin-left: auto; /* 15% from the top and centered */
  margin-right: auto; /* 15% from the top and centered */
  margin-top: 5%; /* 15% from the top and centered */
  padding: 20px;
  width: 90%; /* Could be more or less, depending on screen size */
  height: 75%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	display:none;
}

.modal-title {
	color:white;
	font-size: 150%;
	justify:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
}

.modal-edit-link{
	justify:center;
	margin-left:auto;
	margin-right:auto;
}


.modal-date{
	color:grey;
	font-size: 80%;
	justify:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:0px;
}


.tile {
	display:inline-block;
	height:250px;
	width:250px;
	background-color: #f0f0f0;
	margin-top:5px;
	margin-left:3px;
}

.big-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	height:90%;
	width:auto;
	max-width:100%;
	margin:0px
	object-fit:contain;
	justify:center;
}

img {
	border-radius:8px;
	width:240px;
	height:210px;
	object-fit:cover;
	padding:0px;
	margin:5px
}

i {
	margin-left:5px;
}

a {
	display:inline-block;
	color:black;
	margin-left:5px;
}

p {
	font-family: "Georgia", serif;
	font-size: small;
	margin-top: 3px;
}

</style>

{% endblock %}

