{% extends "utilities/base.html" %}
{% load static %}


{% block head %}
	<title>Heritages of Hunger</title>
	<link rel="stylesheet" href="{% static 'sources/home.css' %}" />
{% endblock %}

{% block content %}

<div class="lower-half">
<div class="col-11 intro">


<h3>
    Acknowledgements 
</h3>

	<p>
The team responsible for this repository works at Radboud University, Wageningen University & Research, and NIOD Institute for War, Holocaust and Genocide Studies. The creation of this repository was made possible by funding from the Dutch Research Council NWO, project number NWA.1160.18.197. Thank you to the following people for their work on this repository. 
	</p>

<h5>
    Database editors
</h5>

	<p>
        <ul>
        <li>Marguérite Corporaal</li>
        <li>Lindsay Janssen</li>
        <li>Clara Vlessing</li>
        <li>Martijn Bentum</li>
        </ul>
	</p>

<h5>
    Contributors
</h5>

	<p>
        <ul>
            <li>Anne-Lise Bobeldijk</li>
            <li>Charley Boerman</li>
            <li>Marguérite Corporaal</li>
            <li>Marieke van Egeraat</li>
            <li>Lindsay Janssen</li>
            <li>Lotte Jensen</li>
            <li>Jason King</li> 
            <li>Deborah Madden</li>
            <li>Helmi Moret</li>
            <li>Anne van Mourik</li>
            <li>Gloria Román Ruiz</li>
            <li>Ingrid de Zwarte</li>
        </ul>
    </p>
    <p>
        <ul>
            <b>And</b>
            <li>Carmijn Gerritsene</li>
            <li>Davide Lamparelli</li>
            <li>Eliza Spakman</li>
            <li>Nathan de Waard</li>
            <li>Puk van der Zanden</li>
            <li>Matthijs Brinkman</li>
            <li>Jacqueline Gallup</li>
        </ul>
	</p>

</div>
</div>

{% endblock %}

