{% extends "utilities/base.html" %}
{% load getattribute %}

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
{% endblock %}


{% block content %}

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}

	<div class="col-md-12 d-flex">
		<h4 class="col-2 ml-0 pl-0">{{page_name}}</h4>
		{% include 'utilities/save.html' %}
		<div class="d-flex justify-content-end"> 
			{% include 'utilities/list_button.html' %}
		</div>


		{% include 'utilities/protocol_view_link.html' %}
		{% include 'utilities/detail_view_link.html' %}
		{% include 'utilities/flag.html' %}
	</div>

	<hr>
	{% if 'Edit' in page_name and 'unknown' not in crud.last_update %}
		{% include 'utilities/change_log.html' %}
		{% else %} <p class="mb-4"></p>
	{% endif %}

	<table class="table table-borderless table-sm" id="form_table">
	<tr class="d-flex">
		<td class="col-2" id="title_original" >Title original</th>
		<td class="col-9">{{form.title_original}} {{form.title_original.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Title english</th>
		<td class="col-9">{{form.title_english}} {{form.title_english.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Film type</th>
		<td class="col-9">{{form.film_type}} {{form.film_type.error}}</td>
		{% if request.user|has_group:"typemaster" %}
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'sources:add_film_type' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
		{% endif %}
	</tr>
	<tr class="d-flex">
		<td class="col-2">Writers</th>
		<td class="col-9">{{form.writers}} {{form.writers.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'persons:add_person' 'inline'%}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Directors</th>
		<td class="col-9">{{form.directors}} {{form.directors.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'persons:add_person' 'inline' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Creators</th>
		<td class="col-9">{{form.creators}} {{form.creators.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'persons:add_person' 'inline' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Film companies</th>
		<td class="col-9">{{form.film_companies}} {{form.film_companies.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'sources:add_film_company' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Locations shot</th>
		<td class="col-9">{{form.locations_shot}} {{form.locations_shot.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'locations:add_location' 'inline' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Locations released</th>
		<td class="col-9">{{form.locations_released}} {{form.locations_released.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'locations:add_location' 'inline' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Target audience</th>
		<td class="col-9">{{form.target_audience}} {{form.target_audience.error}}</td>
		{% if request.user|has_group:"typemaster" %}
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'sources:add_target_audience' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
		{% endif %}
	</tr>
	<tr class="d-flex">
		<td class="col-2">Source link</th>
		<td class="col-9">{{form.source_link}} {{form.source_link.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Video link</th>
		<td class="col-9">{{form.video_link}} {{form.video_link.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Video part link</th>
		<td class="col-9">{{form.video_part_link}} {{form.video_part_link.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Languages original</th>
		<td class="col-9">{{form.languages_original}} {{form.languages_original.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_language' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Languages subtitle</th>
		<td class="col-9">{{form.languages_subtitle}} {{form.languages_subtitle.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'misc:add_language' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	{% include 'utilities/add_source.html' %}
	</table>
		<div class="col-md-12 d-flex">
			<div class="col-2"></div>
			{% include 'utilities/save.html' %}
		</div>
</form>
<br>
{{form.media.js}}
{% include 'utilities/helper.html' %}



{% endblock %}
