{% extends "utilities/base.html" %}

{% block head %}
	{{form.media.css}}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
<form method="post">
	{% csrf_token %}
	<div class="col-md-12 d-flex">
		<h4 class="col-3 ml-0 pl-0">{{page_name}}</h4>
		{% include 'utilities/save.html' %}
	</div>
	<hr>



	<table class="table table-borderless table-sm">
	<tr class="d-flex">
		<td class="col-2">Title English</th>
		<td class="col-9">{{form.title_english}} {{form.title_english.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Title Original</th>
		<td class="col-9">{{form.title_original}} {{form.title_original.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Infographic type</th>
		<td class="col-9">{{form.infographic_type}} {{form.infographic_type.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'sources:add_infographic_type' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Creators</th>
		<td class="col-9">{{form.creators}} {{form.creators.error}}</td>
		<td><a class = "btn btn-link btn-sm ml-auto text-dark" target = "_blank"
			href = "{% url 'persons:add_person' %}"
			role="button"><i class="fa fa-plus"></i></a></td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Source link</th>
		<td class="col-9">{{form.source_link}} {{form.source_link.error}}</td>
	</tr>
	<tr class="d-flex">
		<td class="col-2">Image file</th>
		<td class="col-9">{{form.image_file}} {{form.image_file.error}}</td>
	</tr>
	{% include 'utilities/add_source.html' %}
	</table>
		<div class="col-md-12 d-flex">
			<div class="col-2"></div>
			{% include 'utilities/save.html' %}
		</div>
</form>
<br>
{{form.media.js}}
{% endblock %}
