{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
{% include 'utilities/detail_search_iterator.html' %}

<div class="grid-container"> 
{% with i=instance  %}
	<div class="image-container wide"> 
        {% if instance.has_permission or perms.utilities.view_generic %}
            {% if i.image_file1 %}
                <div class="grid-item">
                    <img id='big-image' class="" 
                        src="{{i.image_file1.url}}">  
                </div>
            {% endif %}
            {% if i.image_file2 %}
                <div class="grid-item">
                    <img id='big-image' class="" 
                        src="{{i.image_file2.url}}">  
                </div>
            {% endif %}
            {% if i.image_file3 %}
                <div class="grid-item">
                    <img id='big-image' class="" 
                        src="{{i.image_file3.url}}">  
                </div>
            {% endif %}
            {% if i.image_count == 0 %}
                <img id='big-image' class="sml-img op"
                     src="media/no_image_available.png">
            {% endif %}

            {% if instance.image_file or instance.thumbnail %}
                {% if not instance.has_permission %}
                    <p>
                        <small>
                            End users cannot see these pictures, current
                            permission setting does not allow it
                        </small>    
                    </p>
                {% endif %}
            {% endif %}

        {% elif instance.image_file or instance.thumbnail %}
            <p> No permission to view this image</p>
        {% endif %}
{% endwith %}
	<div class="grid-item wide">
		<h3>{{instance.title_original}} 
        {% if perms.utilities.add_generic %}
			<a class="btn btn-link btn-sm ml-auto"
				href = "{% url instance.edit_url instance.pk %}"
				role="button"><i class="far fa-edit text-secondary"></i>
            </a>
        {% endif %}
		</h3>

	{% with instance as i %}
		{% if i.title_english and i.title_english != i.title_original%}
			<p><small>({{i.title_english}})</small></p>
		{% endif %}
	{% endwith %}

		<hr>
	</div>

	<div class="info">
		<div class="grid-item general">
{% with i='utilities/detail_info_single.html' %}
{% with il='utilities/detail_info_loop.html' %}

{% include i with name='Memorial type:' info=instance.memorial_type %}
{% include il with name='Creator:' others=creators unk='true' link='yes'%}
{% include il with name='Artist:' others=artists unk='true' link='yes'%}
{% include il with name='Donor:' others=donors unk='false' link='both'%}
{% include il with name='Commissioned by:' others=commissioners unk='false' link='both'%}
{% include il with name='Language:' others=languages unk='true' link='no'%}
{% include il with name='Famine:' others=famines unk='true' link='yes'%}
{% include il with name='Location:' others=locations unk='false' link='loc'%}
{% include il with name='Setting:' others=settings unk='true' link='loc'%}

{% include i with name='Created:' info=instance.date_created%}
{% include i with name='Released:' info=instance.date_released%}
{% include i with name='Keywords:' info=instance.keyword_names%}
{% include i with name='Collection:' info=instance.collection%}
{% include 'utilities/show_info_links.html' %}

{% endwith %}
{% endwith %}
		</div>

		{% if instance.description %}
		<div class="grid-item description">
			<div> 
			<span class = "info-header center">Description:</span>
			<br>
				{{instance.description }}
			<br><br>
			</div>
		</div>
		{% endif %}
	</div>
</div>

{% include 'utilities/detail_style.html' %}

<style>
	{% if instance.image_count == 3 %}
		.image-container {
			display:grid;
			grid-template-columns: 4fr 4fr 4fr;
			padding: 1px;
			grid-gap: 3px;
			justify-items: left;
			align-items: start;
		}
	{% elif instance.image_count == 2 %}
		.image-container {
			display:grid;
			grid-template-columns: 6fr 6fr;
			padding: 1px;
			grid-gap: 3px;
			justify-items: left;
			align-items: start;
		}
	{% else %}
		.image-container {
			display:grid;
			grid-template-columns: 12fr;
			padding: 1px;
			grid-gap: 3px;
			justify-items: left;
			align-items: start;
		}
	{% endif %}
.info{
	grid-column:1/4;
	display:grid;
	grid-template-columns: 4fr 8fr;
	padding: 1px;
	grid-gap: 9px;
}

.sml-img {
	height:150px;
}

img {
	border-radius:3px;
	height:500px;
	object-fit:cover;
	max-width:100%;
	max-height:100%;
}

</style>
{% endblock %}
