{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
{% include 'utilities/detail_search_iterator.html' %}

<div class="grid-container"> 
	<div class="grid-item">

        {% if instance.has_permission or perms.utilities.view_generic %}

            {% if instance.image_file %}
                <img id='big-image' class="big-img" 
                    src="{{instance.image_file.url}}">  
            {% elif instance.thumbnail %}
                <img id='sml-image' class="sml-img" 
                    src="{{instance.thumbnail.url}}">  
            {% else %}
                <img id='sml-image' class="sml-img op"
                     src="media/no_image_available.png">
            {% endif %}

            {% if instance.image_file or instance.thumbnail %}
                {% if not instance.has_permission %}
                    <p>
                        <small>
                            End users cannot see this picture, current
                            permission setting does not allow it
                        </small>    
                    </p>
                {% endif %}
            {% endif %}

        {% elif instance.image_file or instance.thumbnail %}
            <p> No permission to view this image</p>
        {% endif %}

	</div>
	<div class="grid-item wide">
		<h3>{{instance.title_original}} 
        {% if perms.utilities.add_generic %}
			<a class="btn btn-link btn-sm ml-auto"
				href = "{% url instance.edit_url instance.pk %}"
				role="button"><i class="far fa-edit text-secondary"></i>
            </a>
        {% endif %}
		</h3>

	{% with instance as i %}
		{% if i.title_english and i.title_english != i.title_original%}
			<p><small>({{i.title_english}})</small></p>
		{% endif %}
	{% endwith %}

		<hr>
	</div>

	<div class="info">
		<div class="grid-item general">
{% with i='utilities/detail_info_single.html' %}
{% with il='utilities/detail_info_loop.html' %}

{% include i with name='Picture story type:' info=instance.picture_story_type %}

{% include il with name='Author:' others=authors unk='true' link='yes'%}
{% include il with name='Artist:' others=artists unk='true' link='yes'%}
{% include il with name='Publisher:' others=publishers unk='true' link='no'%}

{% include i with name='Outlet:' info=instance.publishing_outlet%}

{% include il with name='Language:' others=languages unk='true' link='no'%}
{% include il with name='Famine:' others=famines unk='true' link='yes'%}
{% include il with name='Location:' others=locations unk='false' link='loc'%}
{% include il with name='Setting:' others=settings unk='true' link='loc'%}

{% include i with name='Created:' info=instance.date_created%}
{% include i with name='Released:' info=instance.date_released%}
{% include i with name='Keywords:' info=instance.keyword_names%}
{% include i with name='Collection:' info=instance.collection%}

{% include 'utilities/show_info_links.html' %}

{% endwith %}
{% endwith %}

		</div>

		{% if instance.description or instance.picture_story%}
		<div class="grid-item description">
			{% if instance.description %}
			<div> 
			<span class = "info-header center">Description:</span>
			<br>
				{{instance.description }}
			<br><br>
			</div>
			{% endif %}
			{% if instance.picture_story%}
                {% if instance.has_permission or perms.utilities.view_generic %}
                    {% if instance.picture_story.file_type == "text" %}

                        {% if not instance.has_permission %}
                            <p>
                                <small>
                                    End users cannot see this text, current
                                    permission setting does not allow it
                                </small>    
                            </p>
                        {% endif %}

                        <span class = "info-header center">Text:</span>
                        <div class="text"> 
                            <p>{{instance.picture_story.file| linebreaks}}</p>
                        </div>

                    {% endif %}
                {% endif %}
			{% endif %}
		</div>
		{% endif %}

        {% if instance.picture_story%}
            {% if instance.has_permission or perms.utilities.view_generic %}
                {% if instance.picture_story.file_type == "image" %}
                    {% if not instance.has_permission %}
                        <p>
                            <small>
                                End users cannot see this text, current
                                permission setting does not allow it
                            </small>    
                        </p>
                    {% endif %}
                    <div class="grid-item text-img-div wide">
                        <img id='text-img' class="text-img" 
                            src="{{instance.picture_story.file}}">  
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
	</div>
</div>

{% include 'utilities/detail_style.html' %}

<style>
.grid-container {
	display:grid;
	grid-template-columns: 12fr;
	padding: 1px;
	grid-gap: 3px;
	justify-items: left;
	align-items: start;
}

.sml-img {
	height:150px;
}

img {
	border-radius:3px;
	height:500px;
	object-fit:cover;
	max-width:100%;
	max-height:100%;
}

</style>
{% endblock %}
