{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}

<div class="grid-container"> 
	<div class="grid-item wide">
		<h3>{{instance.title_original}} 
			<a class="btn btn-link btn-sm ml-auto"
				href = "{% url instance.edit_url instance.pk %}"
				role="button"><i class="far fa-edit text-secondary"></i></a>
		</h3>

	{% with instance as i %}
		{% if i.title_english and i.title_english != i.title_original%}
			<p><small>({{i.title_english}})</small></p>
		{% endif %}
	{% endwith %}

		<hr>
	</div>

	<div class="info">
		<div class="grid-item general">
			{%if instance.text_type%}
			<div class = "one-line">
				<span class = "info-header">Text type:</span>
				<span class = "info-text">{{instance.text_type}}</span>
			</div>
			<br>
			{% endif %}

{% with info_url='utilities/detail_info.html' %}
{% include info_url with name='Author:' others=authors unk='true' link='both'%}
{% include info_url with name='Editor:' others=editors unk='true' link='yes'%}
{% include info_url with name='Translator:' others=translators unk='false' link='yes'%}
{% include info_url with name='Publisher:' others=publishers unk='true' link='no'%}

			{% if instance.publishing_outlet%}
			<div class = "one-line">
				<span class = "info-header">Outlet:</span> 
				<span class = "info-text"> {{instance.publishing_outlet}}</span>
			</div>
			<br>
			{% endif %}

{% include info_url with name='Language:' others=languages unk='true' link='no'%}
{% include info_url with name='Original language:' others=original_languages unk='false' link='no'%}
{% include info_url with name='Famine:' others=famines unk='true' link='yes'%}
{% include info_url with name='Setting:' others=settings unk='true' link='loc' %}
{% endwith %}

			{% if instance.date_created %}
			<div class = "one-line">
				<span class = "info-header">Created:</span> 
				<span class = "info-text"> {{instance.date_created}}</span>
			</div>
			<br>
			{% endif %}
			{% if instance.date_released%}
			<div class = "one-line">
				<span class = "info-header">Released:</span> 
				<span class = "info-text">{{instance.date_released}}</span>
			</div>
			<br>
			{% endif %}
			{% if instance.keyword_names %}
			<div class = "one-line">
				<span class = "info-header">Keywords:</span> 
				<span class = "info-text">{{instance.keyword_names}}</span>
			</div>
			<br>
			{% endif %}

			{% if instance.links %}
			<div class = "one-line">
				<span class = "info-header">Links:</span>
					<span class = "info-text">
					{% for name, link in instance.links.items%}
						{% if not forloop.last %}
							<a class="info-text"
							href = "{{link}}"
							target = "_blank"
							role="button">{{name}},</a>
						{% else %}
							<a class="info-text"
							href = "{{link}}"
							target = "_blank"
							role="button">{{name}}</a>
						{% endif %}
					{% endfor %}
				</span>
			</div>
			<br>
			{% endif %}

		</div>

		{% if instance.description or instance.text %}
		<div class="grid-item description">
			{% if instance.description %}
			<div> 
			<span class = "info-header center">Description:</span>
			<br>
				{{instance.description }}
			<br><br>
			</div>
			{% endif %}
			{% if instance.text%}
				{% if instance.text.file_type == "text" %}
				<span class = "info-header center">Text:</span>
				<div class="text"> 
					<p>{{instance.text.file| linebreaks}}</p>
				</div>
				{% endif %}
			{% endif %}
		</div>
		{% endif %}
		{% if instance.text.file_type == "image" %}
			<div class="grid-item text-img-div wide">
				<img id='text-img' class="text-img" 
					src="{{instance.text.file}}">  
			</div>
		{% endif %}

	</div>


</div>




<style>
.grid-container {
	display:grid;
	padding: 1px;
	grid-template-columns: 3fr 6fr;
	grid-gap: 9px;
}
.grid-item {
	padding: 0px;
	align-self:start;
	justify-self:left;
}

.description { 
	background-color: #f0f0f0;
	padding: 30px;
	padding-top: 5px;
	padding-bottom: 15px;
	justify-self:left;
}

.text-img-div{ 
	background-color: #f0f0f0;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 25px;
	justify-self:center;
}

.text-img{ 
	height: 500px;
}


.wide{
	grid-column:1/3;
}

.center{
	justify-self:center;
}

.info{
	grid-column:1/3;
	display:grid;
	grid-template-columns: 3fr 6fr;
	padding: 1px;
	grid-gap: 9px;
}

.general{
	justify-self:left;
}


.one-line{
	display:inline;
}

.info-header {
	color:#f55211;
	font-size:75%;
}
.info-text {
	color:black;
}
.greyblue {
	background-color: #f0f0f0;
	padding:30px;
	padding-top:5px;
	padding-bottom:15px;
}
.text {
	color:#163b63;
	font-size:90%;
}


.grey{
	color:lightgrey;
}

.op {
	opacity: 0.05;
}

img {
	border-radius:3px;
	height:100px;
	object-fit:cover;
	max-width:100%;
	max-height:100%;
}


p {
	padding: 0px;
	margin: 0px;
}

hr {
	border-top:3px solid black;
	margin-top: 0px;
}

h3 {
	padding: 0px;
	margin: 0px;
}

</style>



{% endblock %}
