{% extends "utilities/base.html" %}

{% block head %}
	<title>{{page_name}}</title>
{% endblock %}

{% block content %}
{% include 'utilities/detail_search_iterator.html' %}

<div class="grid-container"> 
	<div class="grid-item wide">
		<h3>{{instance.title_original}} 
        {% if perms.utilities.add_generic %}
			<a class="btn btn-link btn-sm ml-auto"
				href = "{% url instance.edit_url instance.pk %}"
				role="button"><i class="far fa-edit text-secondary"></i>
            </a>
        {% endif %}
		</h3>

	{% with instance as i %}
		{% if i.title_english and i.title_english != i.title_original%}
			<p><small>({{i.title_english}})</small></p>
		{% endif %}
	{% endwith %}

		<hr>
	</div>


	<div class="info">
		<div class="grid-item general">

{% with i='utilities/detail_info_single.html' %}
{% with il='utilities/detail_info_loop.html' %}

{% include i with name='Text type:' info=instance.text_type %}

{% include il with name='Author:' others=authors unk='true' link='both'%}
{% include il with name='Editor:' others=editors unk='true' link='yes'%}
{% include il with name='Translator:' others=translators unk='false' link='yes'%}
{% include il with name='Publisher:' others=publishers unk='true' link='no'%}

{% include i with name='Outlet:' info=instance.publishing_outlet%}

{% include il with name='Language:' others=languages unk='true' link='no'%}
{% include il with name='Original language:' others=org_lang unk='false' link='no'%}
{% include il with name='Famine:' others=famines unk='true' link='yes'%}
{% include il with name='Setting:' others=settings unk='true' link='loc' %}

{% include i with name='Created:' info=instance.date_created%}
{% include i with name='Released:' info=instance.date_released%}
{% include i with name='Keywords:' info=instance.keyword_names%}
{% include i with name='Collection:' info=instance.collection%}

{% endwith %}
{% endwith %}

{% include 'utilities/show_info_links.html' %}

		</div>

		{% if instance.description or instance.text %}
		<div class="grid-item description">
			{% if instance.description %}
			<div> 
			<span class = "info-header center">Description:</span>
			<br>
				{{instance.description }}
			<br><br>
			</div>
			{% endif %}
			{% if instance.text%}
                {% if instance.has_permission or perms.utilities.view_generic %}
                    {% if instance.text.file_type == "text" %}

                        {% if not instance.has_permission %}
                            <p>
                                <small>
                                    End users cannot see this text, current
                                    permission setting does not allow it
                                </small>    
                            </p>
                        {% endif %}

                        <span class = "info-header center">Text:</span>
                        <div class="text"> 
                            <p>{{instance.text.file| linebreaks}}</p>
                        </div>
                    {% endif %}
                {% endif %}
			{% endif %}
		</div>
		{% endif %}
        {% if instance.text%}
            {% if instance.has_permission or perms.utilities.view_generic %}
                {% if instance.text.file_type == "image" %}
                    <div class="grid-item text-img-div wide">
                        {% if not instance.has_permission %}
                            <p>
                                <small>
                                    End users cannot see this text, current
                                    permission setting does not allow it
                                </small>    
                            </p>
                        {% endif %}

                        <img id='text-img' class="text-img" 
                            src="{{instance.text.file}}">  
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
	</div>
</div>

{% include 'utilities/detail_style.html' %}

<style>

.description { 
	background-color: #f0f0f0;
	padding: 30px;
	padding-top: 5px;
	padding-bottom: 15px;
	justify-self:left;
}

.text-img-div{ 
	background-color: #f0f0f0;
	padding: 20px;
	padding-top: 15px;
	padding-bottom: 25px;
	justify-self:center;
}

.text-img{ 
	height: 500px;
}

.text {
	color:#163b63;
	font-size:90%;
}
</style>

{% endblock %}
