{% extends "utilities/base.html" %}
{% load static %}


{% block head %}
	<title>Heritages of Hunger</title>
	<link rel="stylesheet" href="{% static 'sources/home.css' %}" />
{% endblock %}

{% block content %}

<div class="lower-half">

<div class="images">
        {% for image_url in image_urls %}
            <img id='big-image' class="big-img" 
                src="{{image_url}}">  
        {% endfor %}
</div>

<div class="col-11 search-link">
        <a 
            class='button'
            href="{% url 'utilities:search_view' %}">
            Search materials
			<i class="fas fa-search"></i>
        </a>
</div>    


<div class="col-11 intro">


<h3>
	Heritages of Hunger Repository
</h3>

	<p>
        This repository is an open-access educational resource which contains 
        primary materials related to historical periods of hunger in Europe. 
        The memories of these periods continue to impact debates on new crises 
        and conflicts, such as economic decline, refugees, Brexit, COVID-19, 
        and war. Often, memories of past hunger are evoked to stress conflict 
        and difference. The materials collected here serve to demonstrate that 
        such memories actually offer possibilities for transnational 
        understanding of contested histories. The repository is set up from 
        this transnational angle and through it, we seek to make explicit 
        links between different periods of hunger. You are encouraged to use 
        the materials in this repository in your teaching and learning.
	</p>

	<p>
        It is our hope that this repository will help you to engage with 
        these materials in comparative but not competitive ways, and that 
        it will stimulate empathy and understanding across borders.
	</p>

	<h5>
		User guide
	</h5>

	<p>
		Please use the materials in this repository for educational or personal, 
		not for commercial purposes. When using the materials in this repository, 
		please always refer to the original maker/copyright holder and make 
		sure to link back to the repository website: 
		https://heritagesofhunger.cls.ru.nl/
	</p>

	<h5>
		Acknowledgements
	</h5>

	<p>
		The team responsible for this repository works at Radboud University, 
		Wageningen University & Research, and NIOD Institute for War, 
		Holocaust and Genocide Studies. The creation of this repository was 
		made possible by funding from the Dutch Research Council NWO, 
		project number NWA.1160.18.197.
	</p>

</div>
</div>

{% endblock %}

