
.grid-container {
	display:grid;
	grid-template-columns: 2fr 1fr 1fr 2fr;
	padding: 1px;
	grid-gap: 3px;
	justify-items: center;
	align-items: end;
}

.grid-item {
	/*background-color: #f0f0f0;*/
	padding: 0px;
	text-align: justify;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.85); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.45); /* Black w/ opacity */
  margin-left: auto; /* 15% from the top and centered */
  margin-right: auto; /* 15% from the top and centered */
  margin-top: 2%; /* 15% from the top and centered */
  padding: 20px;
  width: 90%; /* Could be more or less, depending on screen size */
  height: 75%; /* Could be more or less, depending on screen size */
}

.one_of_x {
	color: white;
	float:right;
	padding-right:50px;
}
.permission {
	color: white;
	float:left;
	padding-left:50px;
}

/* The Close Button */
.close {
    color: rgba(10,10,10,0.03); /* Black w/ opacity */
	padding-right:50px;
	font-size:300%;
}

.prev_next_modal{
	padding-right:30px;
    color: rgba(255,255,255,0.6);
	font-size:200%;
}
.prev_modal{
	margin-left:40%;
}

.prev_next_modal:hover {
    color: rgba(255,255,255,0.9);
}


.close:hover,
.close:focus {
  color: rgba(255,255,255,0.45); /* Black w/ opacity */
  text-decoration: none;
  cursor: pointer;
}

.close_modal {
	margin-top:15px;
	padding-right;50px;
}

.modal-title {
	color:white;
	font-size: 150%;
	justify:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
}

.modal-edit-link{
	justify:center;
	margin-left:auto;
	margin-right:auto;
}


.modal-date{
	color:grey;
	font-size: 80%;
	justify:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:0px;
}

.modal-icon{
	color:white;
	justify:center;
	margin-left:50px;
	margin-right:auto;
	margin-top:30px;
	margin-bottom:0px;
}


.tile {
	display:inline-block;
	height:250px;
	width:250px;
	background-color: #f0f0f0;
	margin-top:5px;
	margin-left:3px;
}

.big-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	height:90%;
	width:auto;
	max-width:100%;
	margin:0px
	object-fit:contain;
	justify:center;
}

.op {
	opacity: 0.06;
}

.small-img {
	margin-top:40px;
	margin-bottom:40px;
	margin-left:45px;
	margin-right:45px;
	height:140px;
	width:160px;
	object-fit:contain;
}

.not-allowed {
    background-color: #f0edc2;
}

img {
	border-radius:8px;
	width:240px;
	height:210px;
	object-fit:cover;
	padding:0px;
	margin:5px
}

i {
	margin-left:5px;
}

a {
	display:inline-block;
	color:black;
	margin-left:5px;
}

p {
	font-family: "Georgia", serif;
	font-size: small;
	margin-top: 3px;
}

