hr {
	margin-top:0px;
	margin-bottom:3px;
}

.question_search {
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.view_mode {
    padding-left:3px;
    padding-right:3px;
}


.search_button {
	border: none;
	color: black;
	background-color:white;
	padding: 2px 4px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin-left:15px;
	transition-duration: 0.3s;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid black;
} 

.sorting_option{
	margin-left:5px;
	margin-top:5px;
	padding:0px;
	height:20px;
}

.select_label {
	margin-left:20px;
}

.search_button:focus {
	outline:0;
}

.sidebar {
	height: 100%;
	width: 0px;
	position: fixed;
	z-index: 1;
	top: 30;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 10px;
}


.sidebar a {
	text-decoration: none;
	color: #585e66;
	display: block;
	transition: 0.5s;
	font-size: 14px;
}

.indent {
	margin-left: 15px;
}
.right-indent {
	margin-right: 15px;
}


.sidebar a:hover {
	color: black;
}


	

.togglebtn {
	font-size: 30px;
	cursor: pointer;
	color: black;
	margin-top: 0px;
	padding-top:0px;
}

.togglebtn:focus{
	outline:0;
}

.togglebtn:hover {
	text-decoration:none;
	color: black;
}

/* noUi slider css ----------------------------------
 */

.date-slider {
	margin-left:5px;
	margin-right:5px;
	margin-top:9px;
	margin-bottom:12px;
}

.date-year {
  margin-left: 0px;
  font-size: 14px;
  color:#585e66;
}

.date-years {
  margin-bottom: 10px;
  margin-left:15px;
  margin-right:10px;
}

.right-align {
  position: absolute;
  left:175px;
  margin-top:3px;
}

.clear_all {
 font-size: 12px;
 margin-left:30px; 
 border: 1px solid black;
 border-radius: 5px;
 outline-offset: 5px;
 padding:3px;
 padding:9px;
}

.clear_all:hover{
 color: red;
 border: 1px solid red;
}


/* no box around tooltip (numbers above the handles);
 */
.noUi-tooltip {
  border: 0px;
  padding: 0px;
  /*margin-left:15px;*/
  display:none;
}

/* style handles;
 */
.noUi-handle {
    border: 1px solid black;
    border-radius: 4px;
    background: black;
    box-shadow:none;
	width: 10px !important;
	height:15px !important;
	right: -5px !important;
	font-size: 9px;
}
/* make handel white on hover
*/
.noUi-handle:hover{
	background:black;
}

/* Handle stripes;(remove them)
 */
.noUi-handle:before,
.noUi-handle:after {
  width: 0px;
}

/* remove blue outline on pressed handle
 */
.noUi-handle:focus {
	outline:none;
}

.noUi-active {
  box-shadow: none;
}

/* connect bar color  */
.noUi-connect {
	background:black;
}

.noUi-horizontal, .noUi-vertical {
    background: lightgrey;
	height:2px;
	border:0px solid grey;
 }


